/* Reset and Styling for Body */
body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-color: #a0c1eaaa;
}

/* Navbar Container */
.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links li a:hover {
    background-color: #111;
}
